<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ADETQ2: Brand X</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>

    <style>


        .container {
            letter-spacing: 3px;
            font-family: 'Comic Sans MS', cursive;
            text-transform: uppercase;
            font-size: 15px;
        }

        .home {
            color: white;
            text-align: center;
            background: #98AFC7;
        }

        .gname {
            font-family: 'Amatic SC', cursive;
            font-size: 25px;
        }
        /*animation sa name*/
        .navbar .container a:hover {
            color: yellow;
            transition: .5s;
            background: #15d5ef;
            backface-visibility: visible;
        }

        .navbar-brand {
            position: relative;
            right: 140px;
            padding-top: 5px;
        }




        .display-4 {
            color: yellow;
            position: relative;
            top: 20px;
        }

        .jumbotron {
            background: #C45AEC;
            color: white;
            bottom: 100px;
            border-radius: 130px;
        }

        footer {
            /*top: 716px;*/
            min-height: 5%;
        }

        .fbottom {
            background: #7a8e9b;
            text-align: center;
            color:#98AFC7;
            width: 100%;
            font-size: 13px;
            height: 50px;
        }
    </style>
    <body class="home">
        </body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ADETQ2</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Sign up</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Home">List</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; Quiz #2</a>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
    </body>
</html>
