@model ADETQ2_Brand_X.Models.list
@{
}

<div class="text-center">
    <p><h1>Congrats, @Model.studentname</h1></p>
    <p>Thank You!, for Register in our Student</p>
    <p><a asp-action="home">List</a></p>
</div>